image:
  hampshire/selenium-firefox:latest

before_script:
  - mkdir -p /var/www/moodle
  - cd /var/www/moodle
  - if [ ! -d htdocs ]; then cp -r /builds/moodle/moodle htdocs; fi
  - cd htdocs
  - git fetch --all --prune
  - git reset --hard $CI_BUILD_REF
  - git submodule sync
  - git submodule update --init
  - cp -f config-dist.php config.php
  - sed -i 
    -e s/'password'/''/ 
    -e s/example.com/localhost/ 
    -e s%/home/example%$HOME% 
    -e 's%// \(\$CFG.*behat_prefix\)%\1%' 
    -e 's%// \(\$CFG.*behat_wwwroot\)%\1%' 
    -e 's%// \(\$CFG.*behat_dataroot\)%\1%' 
    -e 's%// \(\$CFG.*phpunit\)%\1%' 
    -e s/'localhost'/'lafayette__mysql-moodle'/ 
    -e s/\'pgsql\'/\'mysqli\'/ 
    -e s/\'username\'/\'moodle\'/ 
    -e s/'http:\/\/127.0.0.1\/moodle'/'http:\/\/localhost:8000'/ 
    config.php
  - if [ -d \"$HOME/moodledata\" ]; then rm -rf $HOME/moodledata; fi
  - (/opt/bin/entry_point.sh &) 2> /dev/null > /dev/null
  - mkdir -m777 -p $HOME/moodledata
  - if [ -d \"$HOME/bht_moodledata\" ]; then rm -rf $HOME/bht_moodledata; fi
  - mkdir -m777 -p $HOME/bht_moodledata
  - if [ -d \"$HOME/phpu_moodledata\" ]; then rm -rf $HOME/phpu_moodledata; fi
  - mkdir -m777 -p $HOME/phpu_moodledata
  - composer config preferred-install dist
  - composer self-update
  - composer install
  - locale-gen en_AU.UTF-8
  - php admin/tool/phpunit/cli/init.php
  - php admin/tool/behat/cli/init.php
  - (php -S localhost:8000 -t /var/www/moodle/htdocs &) 2> /dev/null > /dev/null
  - sleep 5

job1:
  script:
    - vendor/bin/phpunit /var/www/moodle/htdocs/local/provisional_enrolments/tests/provisional_enrolments_test.php
    - vendor/bin/behat --config /root/bht_moodledata/behat/behat.yml --format=progress --tags "@blocks_course_description,@course_format_class,@blocks_library,@local_provisional_enrolments,@block_provisional_enrolments,@local_cohort_sync,@local_hamp,@theme_hampshire"

variables:
  DB_USER: 'moodle'
  DB_NAME: 'moodle'
  MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
  MYSQL_CHARSET: 'utf8'
  MYSQL_COLLATION: 'utf8_bin'
