[submodule "blocks/federated_login"]
	path = blocks/federated_login
	url = https://github.com/kwiliarty/moodle-block_federated_login.git
[submodule "blocks/filtered_course_list"]
	path = blocks/filtered_course_list
	url = https://github.com/CLAMP-IT/moodle-blocks_filtered_course_list.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/remotelearner/moodle-mod_questionnaire.git
[submodule "report/customsql"]
	path = report/customsql
	url = https://github.com/moodleou/moodle-report_customsql.git
[submodule "blocks/quickset"]
	path = blocks/quickset
	url = https://github.com/bobpuffer/moodle-block_quickset.git
[submodule "blocks/learningresources"]
	path = blocks/learningresources
	url = https://github.com/kwiliarty/moodle-block_learningresources.git
[submodule "mod/certificate"]
	path = mod/certificate
	url = https://github.com/markn86/moodle-mod_certificate.git
[submodule "blocks/course_search"]
	path = blocks/course_search
	url = https://github.com/oohoo/moodle-block_course_search.git
[submodule "blocks/vcl"]
	path = blocks/vcl
	url = https://github.com/acoburn/moodle-block_vcl.git
[submodule "question/behaviour/dfexplicitvaildate"]
	path = question/behaviour/dfexplicitvaildate
	url = git://github.com/maths/moodle-qbehaviour_dfexplicitvaildate.git
[submodule "question/behaviour/dfcbmexplicitvaildate"]
	path = question/behaviour/dfcbmexplicitvaildate
	url = git://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate.git
[submodule "question/behaviour/adaptivemultipart"]
	path = question/behaviour/adaptivemultipart
	url = git://github.com/maths/moodle-qbehaviour_adaptivemultipart.git
[submodule "question/type/stack"]
	path = question/type/stack
	url = git://github.com/maths/moodle-qtype_stack.git
[submodule "filter/ipa"]
	path = filter/ipa
	url = https://github.com/kwiliarty/moodle-filter_ipa.git
[submodule "filter/videojs"]
	path = filter/videojs
	url = https://github.com/kwiliarty/moodle-filter_videojs.git
[submodule "theme/newfallen"]
	path = theme/newfallen
	url = https://git.smith.edu/kwiliarty/moodle-theme_newfallen.git
[submodule "mod/vpl"]
	path = mod/vpl
	url = https://github.com/jcrodriguez-dis/moodle-mod_vpl.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid.git
[submodule "blocks/customcss"]
	path = blocks/customcss
	url = https://github.com/gjb2048/moodle-format_topcoll.git
[submodule "local/news_forum"]
	path = local/news_forum
	url = https://github.com/mackensen/moodle-local_news_forum.git
[submodule "local/mass_enroll"]
	path = local/mass_enroll
	url = https://github.com/patrickpollet/moodle_local_mass_enroll.git
[submodule "local/metasync"]
	path = local/metasync
	url = https://github.com/willylee/moodle-local_metasync.git
[submodule "blocks/clampmail"]
	path = blocks/clampmail
	url = https://github.com/CLAMP-IT/clampmail.git
[submodule "report/roster"]
	path = report/roster
	url = https://github.com/LafColITS/moodle-report_roster.git
[submodule "report/editdates"]
	path = report/editdates
	url = https://github.com/moodleou/moodle-report_editdates.git
[submodule "blocks/panopto"]
	path = blocks/panopto
	url = https://github.com/Panopto/Moodle-2.0-Plugin-for-Panopto.git
[submodule "filter/collapsible"]
	path = filter/collapsible
	url = https://github.com/eberhardt/moodle-filter_collapsible.git
[submodule "enrol/lmb"]
	path = enrol/lmb
	url = https://github.com/merrill-oakland/Banner-Luminis-Message-Broker-for-Moodle.git
[submodule "local/new_user"]
	path = local/new_user
	url = https://git.smith.edu/kwiliarty/moodle-local_new_user.git
