/** Path: theme wes-standard **/
/** Wes Standard **/

body.editing .section .commands {
	float: left; 
	display: block; 
	width: 170px;
	height: 22px;
	margin-right: 10px;
	border-right: 1px solid #999;
	position: relative;
}

body.editing .section .commands a {position: absolute; top: 4px;}
body.editing .section .commands span {position: absolute; top: 4px;}
body.editing .section .commands [title='Edit title'] {left: 0;}
body.editing .section .commands [title='Move left'] {left: 16px;}
body.editing .section .commands [title='Move right'] {left: 32px;}
body.editing .section .commands [title='Move'] {left: 48px; top: 4px;}
body.editing .section .commands .editing_move {left: 48px; top: 4px;}
body.editing .section .commands [title='Update'] {left: 64px;}
body.editing .section .commands [title='Duplicate'] {left: 80px;}
body.editing .section .commands [title='Delete'] {left: 96px;}
body.editing .section .commands [title='Hide'] {left: 112px;}
body.editing .section .commands [title='Show'] {left: 112px;}
body.editing .section .commands [title='No groups (Click to change)'] {left: 128px;}
body.editing .section .commands img[title='No groups (forced mode)'] {position: absolute; top: 4px; left: 128px;}
body.editing .section .commands [title='Separate groups (Click to change)'] {left: 128px;}
body.editing .section .commands [title='Visible groups (Click to change)'] {left: 128px;}
body.editing .section .commands [title='Assign roles'] {left: 144px;}

body.editing .section .mod-indent {min-height: 22px; padding: 0;}
body.editing .section .mod-indent>a {position: static; left: 180px; top: 0;} 

body.editing .section .commands a {padding: 0 2px; line-height: 1em; top: 5px;}
body.editing .section .commands span {padding: 0 2px; line-height: 1em; top: 5px;}
body.editing .section li.activity {clear: both;}
body.editing .section .mod-indent {margin-left: 0;}
body.editing .section .mod-indent-1>a,
body.editing .section .mod-indent-1 .no-overflow>p {margin-left: 20px;}
body.editing .section .mod-indent-2>a,
body.editing .section .mod-indent-2 .no-overflow>p {margin-left: 40px;}
body.editing .section .mod-indent-3>a,
body.editing .section .mod-indent-3 .no-overflow>p {margin-left: 60px;}
body.editing .section .mod-indent-4>a,
body.editing .section .mod-indent-4 .no-overflow>p {margin-left: 80px;}
body.editing .section .mod-indent-5>a,
body.editing .section .mod-indent-5 .no-overflow>p {margin-left: 100px;}
body.editing .section .mod-indent-6>a,
body.editing .section .mod-indent-6 .no-overflow>p {margin-left: 120px;}
body.editing .section .mod-indent-7>a,
body.editing .section .mod-indent-7 .no-overflow>p {margin-left: 140px;}
body.editing .section .mod-indent-8>a,
body.editing .section .mod-indent-8 .no-overflow>p {margin-left: 160px;}
body.editing .section .mod-indent-9>a,
body.editing .section .mod-indent-9 .no-overflow>p {margin-left: 180px;}
body.editing .section .mod-indent-10>a,
body.editing .section .mod-indent-10 .no-overflow>p {margin-left: 200px;}
body.editing .section .modtype_label {
	padding: 4px 0 0;
	position: relative;
}
body.editing .section .modtype_label .commands {
	position: absolute; 
	top: 0;
	left: 0;
	height: 100%;
}
body.editing .section .modtype_label .mod-indent {
	padding-left: 180px;
	/*margin-bottom: -1em;*/
}
body.editing .section .modtype_label .mod-indent-1 {padding-left: 220px;}
body.editing .section .modtype_label .mod-indent-2 {padding-left: 240px;}
body.editing .section .modtype_label .mod-indent-3 {padding-left: 260px;}
body.editing .section .modtype_label .mod-indent-4 {padding-left: 280px;}
body.editing .section .modtype_label .mod-indent-5 {padding-left: 300px;}
body.editing .section .modtype_label .mod-indent-6 {padding-left: 320px;}
body.editing .section .modtype_label .mod-indent-7 {padding-left: 340px;}
body.editing .section .modtype_label .mod-indent-8 {padding-left: 360px;}
body.editing .section .modtype_label .mod-indent-9 {padding-left: 380px;}
body.editing .section .modtype_label .mod-indent-10 {padding-left: 400px;}

body.editing .section .mod-indent:hover {
	-webkit-box-shadow: 2px 2px 8px #ccc, -2px -2px 8px #ccc;
	-moz-box-shadow: 2px 2px 8px #ccc, -2px -2px 8px #ccc;
	box-shadow: 2px 2px 8px #ccc, -2px -2px 8px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

body.editing .section .contentafterlink {
	margin-left: 170px;
	border-left: 1px solid #999;
}

body.editing .section .contentafterlink .no-overflow p {
	margin-bottom: 0;
}

body.editing .section .contentafterlink .no-overflow div {
	padding: 0.5em 0 0 2em;
}

/* no longer necessary if a position is static
body.editing .section .unread,
body.editing .section .resourcelinkdetails {
	display: none;
}
*/
